version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: weather-redis
    ports:
      - "6379:6379"

  backend:
    build: ./backend
    container_name: weather-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - redis

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile   # use Dockerfile.dev if developing
    container_name: weather-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
