/* === Global Styles === */
body {
    margin: 2%;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #00417a, #00f2fe);
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 26px;

}

.container {
    width: 100%;
    max-width: 1200px;
    
}

/* === Logout Button === */
.logout-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#logout-btn {
    background-color: #cf0606;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#logout-btn:hover {
    background-color: #cf7676;
}


.grid-layout {
    display: grid;
    grid-template-columns: 1.1fr 1.5fr 1fr; /* Left, Middle, Right */
    gap: 30px;
    
}

/*  Ranking Card  */
.ranking-card {
    background: linear-gradient(140deg, #032d52, #00f2fe);
    padding: 20px;
    border-radius: 15px;
}

.refresh-button {
    display: flex;
    justify-content: flex-end;
}
 .refresh-button button {
    text-align: right;
    margin-bottom: 10px;
    background-image: linear-gradient(140deg, #032d52, #145457);
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    padding: 5px;
    border: none;
}

.refresh-button button:hover {
    background-color: #aaa1a1;
}

.ranking-card h3 {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 18px;
}

.ranking-card ul {
    list-style: none;
    padding: 0;

}

.ranking-card li {
    background: rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
  
}

.ranking-card li:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/*  Weather Card  */
.weather-card {
    background: linear-gradient(to right, rgba(12, 30, 112, 0.3), rgba(255, 255, 255, 0.1));
    padding: 30px;
    border-radius: 18px;
    backdrop-filter: blur(10px);
}

/* Search Bar */
.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
}

.search-bar input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}

.search-bar button {
    padding: 12px 20px;
    background-color: #391ac2;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #000;
}

/* Weather */
.weather-details {
    text-align: center;
}



.weather-details h1 {
    padding-top: 1rem;
    font-size: 60px;
    margin: 10px 0;
}

/*extra infoo in weather card*/

.extra-info {

    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    display: flex;
    column-gap: 2rem;
    padding-top: 0rem;
}

.extra-info  > div{
    flex: 1 1 calc(50% - 1rem);
    display: flex;
    
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    row-gap: 1.5rem;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 0.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
}

.extra-info i {
    font-size: 2rem;
    color: #ffffff;
    text-shadow: -0.3rem 0.3rem 0.5rem rgba(0,0,0,0.1);
}

.extra-info .data{
    font-size: 1rem;
    color: #484569
}

.data-name{
    font-size: 1rem;
    color: #484569
}

.weather-data i{
    font-size: 2rem;
    color: #ffffff;
    text-shadow: -0.3rem 0.3rem 0.5rem rgba(0,0,0,0.1);

}

/*  Score Card  */
.score-card {
    background: linear-gradient(140deg, #032d52, #00f2fe);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(10px);
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 300px;
}

.score-card h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 100;
}



.score-card .circle{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.circle span {
    background: #032d52;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.score-card h3 {
    margin-bottom: 10px;
}

.score-card p {
    font-size: 18px;
}

/*  Mobile Responsive  */
@media (max-width: 900px) {
    .grid-layout {
        grid-template-columns: 1fr;
    }

    .ranking-card, .weather-card, .score-card {
        margin-bottom: 20px;
    }
}
 